# Environment
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# macOS
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Runtime data
data/feedback.json
